<!DOCTYPE html>
<html>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </header>
    <body class="m-3">
        <form action =  "/signup" method = "post">
            <p class="fs-4 fw-bold">Create your new account</p>
            <p>Name: <input type = "text" name = "realname" placeholder="Enter full name"/></p>
            <p>Email: <input type = "email" name = "email" id="exampleInputEmail1" placeholder="Enter email"></p>
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            <p>Username: <input type = "text" name = "name" placeholder="Enter username"></p>
            <p>Password: <input type = "password" name = "pass" placeholder="Enter password"/></p>
            <p style="color:red">{{username_error}}</p>
            <p><input class="btn btn-primary"  type = "submit" value = "Sign up" /></p>
        </form>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>

